.credentials-wrapper{
    padding:20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 17%;
    margin-right: 2%;
}
.credentials-section-one{
    background-color: white;
    padding: 20px;
    text-align: left;
}
.credentials-section-one-div-one h3{
   margin-bottom: 8px;
}
.credentials-section-one-div-one p{
    margin-top: 8px;
    color: grey;
    width: 100%;
    max-width: 70%;
 }

 /*--.credentials-section-one-div-one--*/

 .credentials-section-one-div-two{
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     grid-template-rows: 1fr 1fr;
     border-bottom: 1px solid lightgrey;
     padding-bottom: 30px;
 }
 .table-one-p{
     font-size: 14px;
     color: gray;
     margin-bottom: 8px;
 }
 .table-one-h3{
     margin-top: 8px;
 }
 .credentials-section-one-btn{
     margin-top: 20px;
     
 }

 /*--section-one compelet--*/

 .credentials-section-two-div-one h3{
    margin-bottom: 8px;
}
 .credentials-section-two-div-one p{
           color: grey;
           margin-top: 8px;
 }
 .credentials-section-two{
    background-color: white;
    padding: 20px;
    text-align: left;
    margin-top: 30px;
 }
 .file-transfer-credentials-table{
     width: 100%;
     max-width: 100%;
     text-align: left;
      border-collapse: collapse;
 }
 .file-transfer-credentials-table tr{
     text-align: left;
     border-bottom: 1px solid lightgrey;
 }
 .file-transfer-credentials-table td {
     font-weight: lighter;
     color: rgb(61, 60, 60);
      font-size: 14px;
      font-weight: 500;
      border-bottom: none;
  }

  /*--section-two-table-two--*/


  .credentials-section-three{
      margin-top: 30px;
     background-color: white;
     padding: 20px 40px;
     text-align: left;
  }
  .credentials-section-three-div-one{
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .credentials-section-three-img{
      width: 60px;
      height: 60px;
      border-radius: 50%;
      margin-right: 20px;
  }
  .credentials-section-three-div-two{
      display: flex;
      align-items: center;
  }
   .credentials-section-three-div-three h3{
        margin-bottom: 8px;
   }
   .credentials-section-three-div-three p{
    margin-top: 8px;
    margin-bottom: 8px;
}
.credentials-section-three-div-three button{
    background-color: gainsboro;
    color: black;
    padding: 6px 15px;
}

/*---section--three--*/

.credentials-section-four{
    margin-top: 30px;
     background-color: white;
     padding: 20px 40px;
     text-align: left;
}
.credentials-section-four-div-one input{
   width: 100%;
   max-width: 80%;
   padding: 7px 36px;
   border: 1px solid lightgrey;
   margin-bottom: 10px;
   color: gray;
}

.credentials-section-four-tags{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 90%;
    text-align: left;
}
.credentials-section-four-tags a{
    padding: 4px;
    margin: 7px;
    background-color: rgb(231, 224, 224);
    border-radius: 3px;
}
.credentials-section-four-tags a span{
    margin: 4px;
    color: gray;
}

#credentials-bottom-btn{
    background-color:#12c0a4;
    border-radius: 1px;
    padding: 7px 12px;
    color: white;
}
.credentials-bottom-btn{
    text-align: left;
    margin-top: 20px;
}