.CreateNewCredentials-wrapper{
    padding:20px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 18%;
    margin-right: 2%;
}
.createnewcredentials-section-one{
    background-color: white;
    padding: 20px;
    text-align: left;
    margin-bottom: 20px;
}
.createnewcredentials-section-one-div-one h3{
    margin-bottom: 8px;
    margin-top: 8px;
}
.createnewcredentials-section-one-div-one p{
    margin-top: 8px;
    color: gray;
}
.createnewcredentials-section-one-form-div-one{
    margin-bottom: 15px;
} 
.createnewcredentials-section-one-form-div-one label{
    font-weight: 600;
} 
.createnewcredentials-section-one-form-div-one input{
    width: 100%;
    max-width: 80%;
    padding: 7px;
    border: 1px solid lightgrey;
} 
.createnewcredentials-section-one-form-div-two label{
    font-weight: 600;
} 
.createnewcredentials-section-one-form-div-two input{
    width: 100%;
    max-width: 80%;
    padding: 7px;
    border: 1px solid lightgrey;
} 
.input-icon{
    text-align: center;
    position: absolute;
    margin-left: -20px;
    margin-top: 5px;
    color: lightgrey;
}
/*--section-one--*/
/*--mid section has a collaboration with website upgrade portion--*/


.create-new-credentials-section-bottom{
    background-color: white;
    padding: 20px;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 30px;
}
.create-new-credentials-section-bottom-div-one h3{
      margin-bottom: 8px;
}
.create-new-credentials-section-bottom-div-one p{
    margin-top: 8px;
    color: gray;
}
.create-new-credentials-section-bottom-div-two{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   grid-template-rows: 1fr 1fr;
   grid-gap: 15px;
}
.choosen-region-div-one img{
    width: 100%;
    max-width: 80px;
    margin-right: 10px;
}
.choosen-region{
    background-color: rgb(225, 226, 222);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    height: 100%;
    max-height: 40px;
    border-radius: 5px;
}
.choosen-region-div-one{
    display: flex;
    align-items: center;
}
.country-name{
    margin-bottom: 8px;
}
.contient-name{
    margin-top: 8px;
    font-size: 12px !important;
    color: grey;
}
.choosen-region-checkup{
    color: white;
    border-radius: 50%;
}
.choosen-region-checkup:hover{
   color: gray;
}
.create-new-next-btn{
    width: 100%;
    max-width: 15%;
    border: none;
}
.create-new-next-btn a{
    text-decoration: none;
    color: white;
}
.create-new-btn-div{
    text-align: left;
}