
.settings-nav-bar-ul{
    display: flex;
    list-style: none;
    align-items: center;
    margin-top: 0px;
    
}
.settings-nav-bar-ul li{
    margin-right: 50px;
   font-weight: 700;
   color: lightslategray;
}
.settings-nav-bar-ul li a:hover{
    color: black;
    padding-bottom: 5px;
   border-bottom: 2px solid green;
}
.settingnav-LINK{
    text-decoration: none;
}